<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <title>Inflated Arrangements</title>
  <%= yield :open_graph %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% unless local_assigns[:no_nav] %>
  <a href="#navigation" id="navigation-jump" class="jump">Jump to navigation.</a>
<% end %>
