<% context_is_product ||= false %>
<% description ||= nil %>

<%
  container_class = "media-container"
  container_class += " media-wide" if product.primary_photo.wide?
%>
<div class="<%= container_class %>">
  <%= link_to (context_is_product ? product.primary_photo : product), class: 'media-element-link' do %>
    <img class="media-element" src="<%= product.primary_photo.image.url %>" alt="">
  <% end %>

  <div class="media-info">
    <div class="product-price">Price: <%= number_to_currency(product.price) %></div>
    <% product.tags.each do |tag| %>
      <%= link_to tag.name, tag, class: 'tag' %>
    <% end %>

    <div class="product-description">
      <%= (description || product.description).html_safe %>
    </div>
  </div>
</div>
