<% content_for :title, 'Edit Product' %>

<%= form_for @product do |form| %>
  <%= render 'shared/form_errors', model: @product %>

  <%= form.label :name %>
  <div><%= form.text_field :name %></div>

  <%= form.label :price %>
  <div><%= form.text_field :price %></div>

  <%= form.label :description %>
  <div><%= form.text_area :description %></div>

  <%= form.label :category_ids, 'Categories' %>
  <div><%= form.select :category_ids, @categories, {},
    { multiple: true, size: 10 }
  %></div>

  <button type="submit" class="action">Save Product</button>
<% end %>
