<% content_for :title, 'Create New Product' %>

<%= form_for @product do |form| %>
  <%= render 'shared/form_errors', model: @product %>

  <%= form.label :name %>
  <div><%= form.text_field :name %></div>

  <%= form.label :price %>
  <div><%= form.text_field :price %></div>

  <%= form.label :description %>
  <div><%= form.text_area :description %></div>

  <%= form.fields_for :photos, @photo do |photo_fields| %>
    <%= photo_fields.label :description, 'Photo Description' %>
    <div><%= photo_fields.text_field :description %></div>

    <%= photo_fields.label :image %>
    <div><%= photo_fields.file_field :image %></div>
  <% end %>

  <button type="submit" class="action">Create Product</button>
<% end %>
