<%= render "shared/header" %>

<div class="body">
  <main>
    <h1><%= yield :title %></h1>
    <div class="main-content">
      <%= yield %>
    </div>
  </main>
  <div id="navigation">
    <hr class="hide-large">
    <a href="/" id="navigation-home">
      <img src="/assets/logo.png" class="hide-small" alt="home">
      <span class="hide-large">home</span>
    </a>
    <a href="/products">products</a>
    <a href="/photos">photo gallery</a>
    <a href="/contact">contact us</a>
    <%= render "shared/facebook_follow" %>
  </div>
</div>

<%= render "shared/footer" %>
