<%= render "shared/header" %>

<main class="flex">
  <div class="main-column">
    <h1><%= yield :title %></h1>
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
  <div class="sidebar">
    <a href="/"><img class="sidebar-logo" src="/assets/logo.png" alt="Home"></a>
    <a href="/products">products</a>
    <a href="/photos">photo gallery</a>
    <a href="/contact">contact us</a>
    <%= render "shared/facebook_follow" %>
  </div>
</main>

<%= render "shared/footer" %>
